$containerWidth: 1100px;
$mainFont: 'Montserrat', sans-serif;
$backgroundColor: #EAEAEA;
$blackColor: #101010;
$greyColor: #838383;
$darkBlueColor: #1C1C27;
$goldColor: #FFA542;
$lightGoldColor:#FFCE7F;

// Utils 

html {
    font-family: $mainFont;
    background-color: $backgroundColor;
    overflow-x:hidden;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: $goldColor;
}

// Header 

.header {
    width: 100vw;
    height: 60px;
    margin-bottom: 22px;
}

.wrapper {
    width: 100%;
    height: 100%;
    max-width: $containerWidth;
    margin: 0 auto;
    justify-content: space-between;
}

.header-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
}

.logo-link {
    font-family: $mainFont;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: $blackColor;
}

.phone-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}


// Open Phone Menu 

.phoneMenu {
    width: 100vw;
    max-width: 255px;
    position: absolute;
    top: 44px;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: $backgroundColor;
    box-shadow: 3px 3px 10px 1px rgba(0, 0, 0, 0.341);
    overflow: hidden;
}


.phone-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 19px 29px 29px 27px;
}

.phone-menu-list-item {
    width: 100%;
    max-width: 149px;

}

.arrow-icon {
    transition: transform .2s ease;
}
.rotate {
    transform: rotate(180deg) !important;
}

.phoneBrand {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.phone-brand {
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

.phone-brand:hover {
    color: $goldColor;
}


.phone-brand--opened {
    margin-bottom: 12px;
}

.phone-brand-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    margin: 12px 0px 26px 19px;
    overflow: hidden;
}
.phone-brand-menu-item {
    cursor: pointer;
}

.phone-brand-menu-item:hover {
    color: $goldColor;
}

.hide {
    display: none;
}

.hide-brand {
    max-height: 0;
    margin: 0;
}

// 

.phone-icon {
    width: 15px;
    height: 21px;
    margin-right: 15px;
    transform: translateY(2px);
    cursor: pointer;
}

.phone-menu__title {
    margin-right: 5px;
    cursor: pointer;
}

.phone-menu__title:hover {
    color:$goldColor;
}

.arrow-down-btn {
    transform: translateY(1px);
    cursor: pointer;
    transition: transform .2s ease;
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    transform: translateY(2px);
}

.nav-item {
    cursor: pointer;
}

.count {
    width: 17px;
    height: 17px;
    display: inline-block;
    background-color: #FFA542;
    border-radius: 50%;
    text-align: center;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    transform: translate(-2px, -10px);
}

.none {
    display: none;
}

// Adv 

.adv {
    width: 100vw;
    margin-bottom: 44px;
}

.adv-wrapper {
    height: 197px;
    display: flex;
    flex-direction: row;
    background-color: $blackColor;
    border-radius: 30px;
    overflow: hidden;
}

.adv-title {
    max-width: 283px;
    margin: auto auto;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    user-select: none;

}

.iphone-img {
    width: 321px;
    height: 226px;
    margin-right: auto;
}

// Shop section 

.shop-sec {
    width: 100vw;
}

.shop-sec-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cases {
    margin-bottom: 30px;
}

.subtitle {
    margin: 0px 0px 20px 0px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: $greyColor;
    user-select: none;
}

.card-title {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: $darkBlueColor;
}

.shop-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
}

.shop-card {
    width: 100vw;
    height: 100vh;
    max-width: 346px;
    max-height: 407px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    transition: transform .2s ease;
}

.shop-card:hover {
    transform: scale(1.05);
}

.shop-card-content {
    margin: auto auto;
}

.case-img {
    margin-bottom: 20px;
}

.top-card {
    display: flex;
    flex-direction: row;
    gap: 23.88px;
    margin-bottom: 54.45px;
}
.headphones {
    margin-bottom: 50px;
}
.headphones-card-content {
    width: 100vw;
    height: 100vh;
    max-width: 307px;
    max-height: 359px;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.headphone-img {
    width: 219.61px;
    height: 237.45px;
}


.card-main {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-self: center;
}

.card-main-info {
    display: flex;
    flex-direction: row;
}

.card-title-headphone {
    margin-right: 105px;
}

.now-price {
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: $goldColor;
}

.old-price {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 21px;
    color: #FFCE7F;
    text-decoration-line: line-through;
}

.rating {
    align-self: flex-start;

}

.rate {
    margin-left: 10px;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: $greyColor;
}

.remote-headphones {
    margin-bottom: 60px;
}

// Footer

.footer {
    width: 100vw;
    height: 149px;
    max-width: $containerWidth;
    margin: 0 auto;
    padding: 29px 26.7px 32.2px 29px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.footer-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    justify-content: space-around;
}

.footer-link {
    font-family: $mainFont;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 21px;
    color: $blackColor;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.lang-menu {
    width: 100%;
    margin-bottom: 39px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.lang-item {
    cursor: pointer;
    user-select: none;
}

.lang-item-now {
    color: $goldColor;
}

.lang-item:hover {
    color: $goldColor;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 19px;
}

.social-item {
    cursor: pointer;
    transition: transform .2s ease;
}


.social-item:hover {
    color:$goldColor;
    transform: translateY(-2px);
}




